.offcanvas {
    background-color: rgba(39, 39, 39, 0.6);
}

.im1 {
    /* scale: 2.2; */
}

.navbar-toggler {
    margin-top: 0px;
}

.nav1 {
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    height: 0vh;
}

.sp {
    color: rgb(203, 199, 199);
    font-size:125%;
    text-decoration: none;
}

.text1 {
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Barriecito', cursive;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Monoton', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Mono', monospace;
    font-size: 4vh;
    font-weight: bolder;
}

.text2 {
    color: rgb(48, 130, 193);
    font-family: 'Abril Fatface', cursive;
    font-family: 'Barriecito', cursive;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Monoton', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Mono', monospace;
    font-size: 5vh;
    font-weight: bolder;
}
.white-stripes {
    background-image: linear-gradient(to bottom, white 50%, transparent 50%);
    background-size: 100% 4px; /* You can adjust the thickness of the stripes as needed */
}
.i1{
    height: 8px;
    margin-top: -16px;
}
.rc1{
    background-color: rgba(39, 39, 39, 0.6);
    margin: 3px;
    border-radius: 10px;
    border:2px solid rgb(21, 21, 21, 0.6);
}
.sp:hover{
    color:rgb(111, 176, 209);
}