.back1 {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: -9%;
}
.conn1{
    background-color: rgba(25, 25, 25, 0.9);
    border-radius: 30px;
}
label{
    color:whitesmoke;
}
.mdb{
    background-color: rgba(85, 84, 84, 0.1);
    color:aliceblue;
}
