.c1 {
    background-image: url('https://t3.ftcdn.net/jpg/04/54/26/00/360_F_454260074_3qfGZP2oiW4FsFFiftkEtWN21PopTTkV.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.r1 {
    border-radius: 20px;
}

.r1 {
    /* background-color:rgb(210, 210, 208); */
    background: rgba(39, 39, 39, 0.8);
    ;
}

.t1 {
    font-size: 8vh;
    color: rgba(255, 255, 255, 0.9);
    font-family: sans-serif;
}

label {
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

.form-control {
    background-color: rgba(39, 39, 39, 0.5);
    border: 1px solid #C8C6C6;
}

input {
    color: rgba(39, 39, 39, 0.1);
}