.cont {
    background-color: rgba(39, 39, 39, 0.9);
}

label {
    font-family: sans-serif;
    font-weight: 3vh;
    font-weight: bolder;
}

.form-control {
    background-color: whitesmoke;
}

.form-group {
    padding: 20px;
}

.op {
    background-color:whitesmoke;
}
.ru{
    width:100%;
    height:100%;
    background-color: whitesmoke;
    border-radius: 20px;
    min-height:15vh;
    margin:5%;
}