.cont {
    background-color: rgba(39, 39, 39, 0.9);
}

.la1 {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: 3vh;
    font-weight: bolder;
}
.col1{
    background-color: rgb(55, 53, 53);
    height:20vh;
}
.map{

    width:100%;
    height:60vh;
    border:0px;
}